* {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
  font-weight: 600;
  
}
.flexible-container {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
}
.top-section {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.dream-big {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.experience > h1{
    padding-left: 5%;
}
.half-width {
  width: 50%;
  padding: 5%;
}
.half-width img {
  width: 100%;
}
p {
  margin-bottom: 20px;
}
.link-button {
  color: #fff;
  padding: 12px 40px;
  background-image: linear-gradient(to right, orange, tomato);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 6px;
}
.link-button:hover {
  background-image: linear-gradient(to left, orange, tomato);
}
